body{
   text-align: center;
    font: normal 15pt Arial;
    color:var(--text--color);
    background-color:#585C72;
}
:root{
    --color--sky:#537FE7;
    --color-cya:#C0EEF2;
    --text--color:#181823;

}

select#lista {
    box-shadow: 2px 2px #181823;
    text-align: center;
    width: 150px;
    border-radius: 25px;  
    overflow: hidden;
    font-style: italic;
    margin-bottom: 20px;
}



header{
text-align: center;
}

input{
    overflow: hidden;
    border: 1px rgba(146, 144, 144, 0.942);
    border-radius: 20px;
    text-align: center;
    width: auto;
    height: 30px;
}

.btn_click{
    overflow: hidden;
    height: 30px;
    width: 100px;
    justify-content: center;
    background: lightgray;
    border:none;
    box-shadow: 2px 2px 4px #181823;
    cursor: pointer;
}
.btn_click:active {
  background: gray;
  color:antiquewhite;
  box-shadow:2px 2px 4px whitesmoke;
}
section{
    background:silver;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(15, 16, 16, 0.846);
    overflow: hidden;
    
    
}

footer{
font-style: italic;
text-align: center;
}