body{
    background: #537FE7;
    font: normal 15pt Arial;
    text-align: center;
}


header{
color:#C0EEF2;
text-align: center;
}

section{
    background: #E9F8F9;
    color: #181823;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgb(192, 238, 242);
    
    
}
img{
    width: 180px;
    border-radius: 200px;
    box-shadow: 5px 5px 8px #181823;
    align-items: center;
}

input{
    border-radius: 4px;
    text-decoration: none;
    border: 2px 2px  #537FE7;
    background: #E9F8F9;
    color:#537FE7;
    text-align: center;
}
footer{
color: #C0EEF2;
font-style: italic;
text-align: center;
}